{% extends 'articulo/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-6">

        
<form action="" method="POST" autocomplete="off">
    {% csrf_token %}
    {{form|crispy}}<br>
    <button type="submit" class="btn btn-success">Guardar</button>
</form>

    <br>
    <button><a href="/articulo/listar">Listar articulo</a></button>
</div>
   
</div>
</div>
{% endblock content %}