{% extends 'articulo/base.html' %}
{% block content %}
        
<div class="table-responsive">
    <table class="table">
      <thead>
      <tr>
        <td>Articulo</td>
        <td>Desechable</td>
        <td>Area origen</td>
        <td>Cantidad</td>


      </tr>
      <tbody>
  
      {% for i in queryset  %}
        <tr>
          <td>{{i.nombre_articulo}}</td>
          <td>{{i.desechable}}</td>
          <td>{{1.area_origen}}</td>
          <td>{{1.id_movimiento}}</td>

        </tr>
    </thead>
  
       {% endfor %}
      </tbody>
  
      </table>

{% endblock content %}