{% extends 'registration/base.html' %}
{% load bootstrap5 %}

{% load crispy_forms_tags %}
{{form.mobile|as_crispy_field}}{% block title %}Iniciar sesión{% endblock %}
{% block content %}


<section class="sec min-vh-100">
<div class="container">
  <div class="row text-white">

    <div class=" col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4">
            <h5 class="titulos"></h5>
            <form action=""method="POST"autocomplete="off" class="justify-content-center form_spacing">
              <div class="mb-4">
                {% csrf_token %} 
                

                {{ form.username|as_crispy_field }}

                {{ form.password|as_crispy_field }}

              

              </div>
              <button type="submit"class="btn btn-primary btnsize">Login</button>

            </form>
    </div>
    <p class="text-center">Si no tienes una cuenta, <a href="{% url 'signup' %} ">registrate</a>.</p>
  
    
</div>
</div>
  

</section>











{% endblock %}